<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Phone E-Commerce</h1>
        </div>
        <nav>
            <a th:href="@{/register}">Register</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/products}">Products</a>
			<a th:href="@{/about}">About</a>
        </nav>
    </header>

    <main>
        <div class="register-container">
            <h2>Register Here</h2>
			<h4><a href="/">Home Page</a></h4>
            <form method="POST" th:action="@{/register}" th:object="${user}">
                <div class="input-field">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
                </div>
                <div class="input-field">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
                </div>
                <div class="input-field">
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" th:field="*{email}" required>
                </div>
                <div class="input-field">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone" th:field="*{phoneNumber}" required>
                </div>
                <div class="input-field">
                    <label for="username">Username:</label>
                    <input type="text" id="username" th:field="*{username}" required>
                </div>
                <div class="input-field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" required>
                </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
			<div th:if="${message}">
			    <p th:text="${message}" style="color: green;"></p>
			</div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Phone E-Commerce Store</p>
    </footer>
</body>
</html>
